.title {
  animation: shake 8.2s cubic-bezier(.36,.07,.19,.97) infinite both;
  z-index: 5;
  transform: translate(0, 0);
}

@keyframes shake {
  91%, 99% {
    transform: translate(-1px, 0);
  }
  
  92%, 98% {
    transform: translate(2px, 0);
  }

  93%, 95%, 97% {
    transform: translate(-4px, 0);
  }

  94%, 96% {
    transform: translate(4px, 0);
  }
}

.afterimage1 .afterimage2 .afterimage3 {
  transform: translate(0, 0);
  z-index: 0;
  color: transparent;
}

.afterimage1 {
  animation: glitch1 8.2s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes glitch1 {
  0%, 91%, 94%, 99% {
    color: transparent;
  }
  92% {
    transform: translate(0, 0);
    color: white;
  }
  93% {
    transform: translate(-2px, -4px);
    color: #e68be7;
  }
}

.afterimage2 {
  animation: glitch2 8.2s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes glitch2 {
  0%, 93%, 97%, 99% {
    color: transparent;
  }
  94% {
    transform: translate(0, 0);
    color: white;
  }
  95% {
    transform: translate(3px, -5px);
    color: #68f5b3;
  }
}

.afterimage3 {
  animation: glitch3 8.2s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes glitch3 {
  0%, 95%, 99% {
    color: transparent;
  }
  96% {
    transform: translate(0, 0);
    color: white;
  }
  97% {
    transform: translate(-1px, 4px);
    color: #6df3ff;
  }
}